[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
spacy = "*"
transformers = "*"
torch = "==1.7.0+cpu"
torchvision = "==0.8.1+cpu"
torchaudio = "==0.7.0"
textacy = "*"

[dev-packages]

[requires]
python_version = "3.8"
